$font-family-base: 'Lato', serif;
$font-size-base: 1.6rem;
$line-height-base: 1.7;

$primary: #70ad47;

$light : #f3f4f5; 
$lighter: #a6a5a1;

$light-text: hsl(120, 19%, 78%); ;

$white: #fff;
$black: #000;

$font-weight-light: 300;
$body-color: $light;

$mobile: '335px';
$tablet: '768px';
$laptop: '992px';
$desktop: '1400px';
$grid-width: 100%;
$gutter-vertical: 0;
$gutter-vertical-small: 0;
$gutter-horizontal: 2rem;

$hamburger-layer-color: $white;
$hamburger-layer-width: 3rem;
$hamburger-layer-height: 3px;