.home {
    margin: 0;
    padding: 1rem 1.5rem;
    background: $white;
    height: 100vh;
    border-top: solid .8rem #70ad47;
    line-height: 4rem;
    
    @media only screen and (min-width: $desktop) {
        padding: 5rem;
    }
    &__container {
        border-radius: 1rem;
        position: relative;
        margin-bottom: 0;
        padding: 2rem 1rem .5rem 1rem;
        height: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width: $desktop) {
            padding: 4rem 5rem .5rem 5rem;
        }

        &__speech-btn {
            height: 5rem;
            width: 5rem;

            &,
            &:link,
            &:visited {
                text-transform: uppercase;
                letter-spacing: 0.3rem;
                text-decoration: none;
                display: inline-block;
                border-radius: 50%;
                transition: all .2s;
                position: relative;
                font-size: 1.5rem;
                border: none;
                cursor: pointer;
                margin: 2rem 0;
                line-height: 2rem;
                font-weight: 400;

                transform: translateY(-1px);
                box-shadow: 0 .5rem 1rem rgba($black, .2);
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }

            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 1rem 2rem rgba($black, .2);
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                }
            }
            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 .5rem 1rem rgba($black, .2);
            }        
        }

        &__transcript {
            height: 60%;
            max-height: 60%;
            width: 100%;
            margin: .5rem;
            border-radius: 1rem;
            display: flex;
            overflow-y: scroll;

            @media only screen and (min-width: $desktop) {
                height: 60%;
                max-height: 60%;
                width: 50%;
                margin: 2rem;
            }

            ul {
                width: 100%;
                padding: 2rem;
            }
        }
    }
}

.microphone-on {
    content: url('../img/microphone.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 3rem;
    width: 3rem;
    color: $primary;
}

.microphone-off {
    content: url('../img/muted.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 3rem;
    width: 3rem;
    color: $primary;
}

.transcript-container {
    display: flex;
    justify-content: space-between;
    list-style: none;

    &--agent {
        @extend .transcript-container;
        flex-direction: row-reverse;
    }

    &--user {
        @extend .transcript-container;
        flex-direction: row;
    }

    &__transcript {
        border-radius: 1.5rem;
        padding: .2rem 1.5rem;
        list-style: none;
        display: inline-block;
        border-radius: 1.5rem;
        margin: .3rem 0;
        line-height: 3rem;

        &--agent {
            @extend .transcript-container__transcript;
            color: $white;
            background-color: $primary;
        }

        &--user {
            @extend .transcript-container__transcript;
            color: $black;
            background-color: $lighter;
        }
    }
    
}
